*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    font-family: sans-serif;
    background: rgb(240, 240, 240);
}

header{
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 45px;
    text-transform: uppercase;
}

header .add{
    display: flex;
    align-content: center;
}

header .description{
    border: none;
    font-size: 14px;
    padding: 9px;
    margin-top: 14px;
    margin-right: 5px;
    width: 350px;
    height: 18px;
    border: 1px solid #c3c3c3;
}
header #buttonAdd {
    border: none;
    background-color: rgb(240, 240, 240);
    font-size: 41px;
    margin-top: 9.5px;
    margin-left: 5px;
    align-self: flex-start;
}

.topics ul{
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*Quebra caso seja necessario*/    
    justify-content: space-around;
}  

.topics ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 5px;
    list-style-type: none;
    box-shadow: 0 0 5px 2px #c4c4c4;
}

.topics ul li h2{
    margin: 15px;
    text-transform: uppercase;
}

.topics ul li .itens{
    display: flex;
    font-size: 18px;
    margin: 5px 2px;
    flex-direction: column; 
}   

.topics ul li .itens li{
    display: flex;
    width: 300px;
    background-color: rgba(169, 203, 216);
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    box-shadow: none;
    padding: 10px 0px;
    margin: 5px 18px;
}

.topics ul li .itens li button {
    border: none;
    background-color: rgba(169, 203, 216);
    font-size: 18px;
    margin-top: 1px;
    margin-left: 5px;
}

